#card-album{
    width: var(--albunscardsize);
    min-height: 190px;
    background-color: #EEEEEE;
    border-radius: 10px;
    display: block;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 20px;
}

.card-album-content{
    display: flex;
    flex-direction: row;
}

.card-album-image{
    border-radius: 10px;
    margin-right: 20px;
}
.card-albuns-text{
    /* margin-top: 16px; */
    font-size: 18px;
}

@media screen and (max-width: 540px) {
    #card-album{
        margin-left: 3px;
        width: 350px;
    }
}