*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /* font-family: Roboto; */
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body{
    background-color: #603474;
}

.app{
    /* background-color: #22142B; */
    height: 100%;
}

:root{
    --todoscardsize: 250px;
    --albunscardsize: 400px;
    --postscardsize: 500px;
}